<div class="fixed mat-elevation-z6">
  <nav>
    <mat-toolbar color="primary">
      <span>
        <a (click)="home()">Kwetter</a>
      </span>
      <span class="fill">
      </span>
      <span> {{ notification.message }} </span>
      <span>
        <button routerLink="login" mat-button *ngIf="!loggedIn">
          <i class="material-icons md-18">person</i> Login
        </button>
        <div *ngIf="loggedIn">
          <a (click)="myProfile()">
            <i class="material-icons md-18">person</i>
            {{user.username}}
          </a>
          <button mat-button (click)="logout()">
            Logout
          </button>
        </div>
      </span>
    </mat-toolbar>
  </nav>
</div>